.container {
    height: 97.3vh;
    width: 39vw;
    background-color: #f14f5a;
    // opacity: 0.8;
    border-radius: 40px;
    border: 5px solid #f7d945;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 35px;
    // gap: 35px;
}

.title {
    font-size: 28px;
    font-family: "Press Start 2P", cursive;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}

.pokemon-details-wrapper {
    margin-top: 35px;
    height: 85vh;
    width: 33vw;
    background-color: #c44f5a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 0px 35px;
    overflow-x: hidden;
    overflow-y: auto;
    // padding-top: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.pokeball-img {
    height: 36px;
    width: 36px;
    // margin-top: 8px;
}

.bolt-wrapper {
    position: relative;
    height: 0px;
    width: 0px;
}

.bolt-pokedex {
    width: 12px;
    height: 12px;
    background-color: #f7d945;
    border-radius: 100%;
    position: absolute;
}

.bolt-bottom-right {
    right: -241px;
    bottom: 566px;
}

.bolt-bottom-left {
    bottom: 566px;
    left: -241px;
}

.bolt-top-right {
    right: -241px;
    top: -24px;
}

.bolt-top-left {
    left: -241px;
    top: -24px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .pokeball-img {
        display: none;
    }
    .title {
        font-size: 8px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    .pokeball-img {
        display: none;
    }
    .title {
        font-size: 12px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 900px) {
    .pokeball-img {
        display: none;
    }
    .title {
        font-size: 18px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    .title {
        font-size: 18px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1200px) {}