<div class="container">
    <div class="title">
        <span><img [lazyLoad]="pokeballImageSrc" class="pokeball-img" /></span>
        <span style="text-align: center">ULTIMATE POKEDEX</span>
        <span><img [lazyLoad]="pokeballImageSrc" class="pokeball-img" /></span>
    </div>
    <div class="pokemon-details-wrapper">
        <app-pokemon-details></app-pokemon-details>
    </div>
    <!-- <div class="bolt-wrapper">
        <div class="bolt-pokedex bolt-bottom-left"></div>
    </div>
    <div class="bolt-wrapper">
        <div class="bolt-pokedex bolt-top-left"></div>
    </div>
    <div class="bolt-wrapper ">
        <div class="bolt-pokedex bolt-bottom-right "></div>
    </div>
    <div class="bolt-wrapper">
        <div class="bolt-pokedex bolt-top-right"></div>
    </div> -->
</div>